<kc-grid
  [scale]="scale.value"
  [cols]="cols"
  [rows]="rows"
  [colsGaps]="colsGaps"
  [rowsGaps]="rowsGaps"
  [items]="items"
  class="grid"
>
  <div header>
    <div>Header content (optional)</div>
    <div>
      <input [formControl]="scale" type="range" min="0.1" max="1.5" step="0.1" />
    </div>
    <div>
      <button (click)="back()">back</button>
    </div>
  </div>

  <div *kcGridItem="let item; type: data" class="grid__item">
    <div>id: {{ item.id }}</div>
    <div>col: {{ item.col }}</div>
    <div>cols: {{ item.cols }}</div>
    <div>row: {{ item.row }}</div>
    <div>rows: {{ item.rows }}</div>
    <div>rows: {{ item.rows }}</div>
    <div>
      <span>data:</span>
      <pre>{{ item.data | json }}</pre>
    </div>
  </div>

  <div footer>Footer content (optional)</div>
</kc-grid>
