<kc-form-field class="field">
  <span *ngIf="label" label class="label">{{ label }}</span>

  <ng-container ngProjectAs="[before]">
    <ng-content select="[before]"></ng-content>
  </ng-container>

  <span *ngIf="placeholder" placeholder>{{ placeholder }}</span>

  <input [formControl]="control" kc-input [name]="name" tabindex="0" placeholder="" />

  <ng-container ngProjectAs="[after]">
    <ng-content select="[after]"></ng-content>
  </ng-container>

  <div error kcErrors>
    <span *kcError="'required'; label: 'required'; let value">{{ value }}</span>
    <span *kcError="'email'">Please enter a valid email address</span>
  </div>
</kc-form-field>

<form [formGroup]="form" scrollToError>
  <app-input formControlName="control1"></app-input>
  <app-input formControlName="control2"></app-input>
  <app-input formControlName="control3"></app-input>
  <app-input formControlName="control4"></app-input>
  <app-input formControlName="control5"></app-input>
  <app-input formControlName="control6"></app-input>
  <app-input formControlName="control7"></app-input>
  <app-input formControlName="control8"></app-input>
  <app-input formControlName="control9"></app-input>
  <app-input formControlName="control10"></app-input>
  <button type="submit" class="button">Submit</button>
</form>
