<button kcGridMove [item]="item" class="button">
  <svg viewBox="0 0 24 24" stroke-width="2" fill="none" class="button__icon">
    <path
      d="M12 12L4 4M4 4V8M4 4H8"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
    <path
      d="M12 12L20 4M20 4V8M20 4H16"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
    <path
      d="M12 12L4 20M4 20V16M4 20H8"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
    <path
      d="M12 12L20 20M20 20V16M20 20H16"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></path>
  </svg>
</button>
